.venv
venv
data/*.mp4
data/*.mkv
data/*.png
data/*.jpg
data/*.wav
data/*.mp3
.env
**/*__pycache__
utilities/testdata/*.mp4
utilities/testdata/*.mkv
utilities/testdata/*.png
utilities/testdata/*.jpg
utilities/testdata/*.wav
utilities/testdata/*.mp3
utilities/scripts
utilities/proxy